<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Note Reminder</title>
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
      <p class="para">
        <span class="title">~ Trouve cette note ~</span>
        <span class="note"><%= note %></span>
      </p>
    </body>
</html>